.footer{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:#d1e2ca;
    justify-content:center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
        width: 25px;
        padding-left: 10px;
    }
    p{
        padding-left: 5px;
        margin-bottom: 0px;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
        align-items: center;
        margin-bottom: 10px;
        a{
            color: black;
            text-decoration: none;
            font-style: unset;
            &:hover{
                color:#939692;
            }
        }
    }
    .derechos{
        display: flex;
        flex-wrap: wrap;
    }
}