@media (max-width:1024px){
    .tarjeta{
        margin: 25px;
    }
}
@media (max-width:768px){
    .novedad{
        width: 200px;
    }
    .tarjeta{
        justify-content: space-around;
        width: 200px;
        margin: 30px;
    }
    .tarjeta img{
    height: auto;
    }
    .form{
        width: 90%;
    }
    .perfil .sobremi{
        width: 500px;
        height: auto;
    }
}
@media (max-width:576px){
    .tarjeta{
        width: 175px;
        margin: 15px;
    }
    .tarjeta p{
        padding: 5px;
    }
    .form{
        width: 350px;
        justify-content: center;
        padding: 15px;
    }
    .perfil .sobremi{
        width: 90%;
    }
}