.perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .sobremi{
        height: auto;
        width: 800px;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        background-color: #f1ebeb;
        margin-bottom: 40px;
        border-top-right-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        p{
            padding: 10px;
            margin-bottom: 5px;
        }
    }
}